name = "hono-pages-supabase"
compatibility_date = "2023-12-01"
compatibility_flags = [ "nodejs_compat" ]

[vars]
DATABASE_URL="connection-string-transaction-mode-uri-from-supabase-database-settings"

[env.dev.vars]
DATABASE_URL="connection-string-transaction-mode-uri-from-supabase-database-settings"